<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-3 side-ber">
      <%= render 'customer/users/side_ber' %>
    </div>
    <div class="col-xs-9">
      <h3><%= @restaurant.restaurant_name %>画像投稿フォーム</h3>
      <%= form_for(@user_post_image, url: customer_restaurant_user_post_images_path, method: :post) do |f| %>
        <div class="form-group">
          <%= f.attachment_field :user_post_image, placeholder: "レストラン投稿画像" %>
        </div>
        <div class="action">
          <%= f.submit "投稿", class: "btn btn-md btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



