<h2>レストラン情報　編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group has-icon">
    <div class="user-edit-image">
        <%= attachment_image_tag resource, :restaurant_top_image, :fill, 60, 60, fallback: "no_image.jpg"%>
    </div>
    <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
    <%= f.attachment_field :restaurant_top_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
  </div>

  <div class="form-group">
    <%= f.label :"管理者氏名（漢字）" %><br />
    <%= f.text_field :admin_name_kanji, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :"管理者氏名（かな）" %><br />
    <%= f.text_field :admin_name_kana %>
  </div>

  <div class="form-group">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email %>
  </div>

  <div class="form-group">
    <%= f.label :店舗名 %><br />
    <%= f.text_field :restaurant_name %>
  </div>

  <div class="form-group">
    <%= f.label :店舗電話番号 %><br />
    <%= f.text_field :restaurant_phone_number %>
  </div>

  <div class="form-group">
    <%= f.label :住所 %><br />
    <%= f.text_field :restaurant_adress %>
  </div>

  <div class="form-group">
    <%= f.label :店舗ジャンル %><br />
    <%= f.text_field :genre %>
  </div>

  <div class="form-group">
    <%= f.label :交通手段 %><br />
    <%= f.text_field :access %>
  </div>

  <div class="form-group">
    <%= f.label :"営業時間・定休日" %><br />
    <%= f.text_field :regular_holiday %>
  </div>

  <div class="form-group">
    <%= f.label :"お通し・チャージ・サービス料等" %><br />
    <%= f.text_field :charge %>
  </div>

  <div class="form-group">
    <%= f.label :対応支払い方法 %><br />
    <%= f.text_field :payment %>
  </div>

  <div class="form-group">
    <%= f.label :店舗紹介タイトル %><br />
    <%= f.text_field :introduce_title %>
  </div>

  <div class="form-group">
    <%= f.label :店舗紹介本文 %><br />
    <%= f.text_field :introduce_body %>
  </div>

  <div class="actions">
    <%= f.submit "編集する" %>
  </div>
<% end %>

<h3>退会する</h3>

<p>退会しますか? <%= button_to "退会する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
