<h1><%= @restaurant.restaurant_name %> メニュー</h1>


<% @menu_categories.each do |menu_category| %>
<h3><%= menu_category.menu_category_name %></h3>
	<table class="table">
		<thead>
			<tr>
				<th>メニュー名</th>
				<th>価格</th>
				<th>テイクアウト</th>
				<th>商品説明</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% menu_category.menus.each do |menu| %>
				<tr>
					<td>
						<%= menu.menu_name %>
					</td>
					<td>
						<%= menu.price %>
					</td>
					<td>
						<%= menu.takeout %>
					</td>
					<td>
						<%= menu.explanation %>
					</td>
					<td>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>