<h1><%= @restaurant.restaurant_name %> メニュー</h1>


<% @menu_categories.each do |menu_category| %>
<h3><%= menu_category.menu_category_name %></h3>
	<table class="table">
		<thead>
			<tr>
				<th>メニュー名</th>
				<th>価格</th>
				<th>テイクアウト</th>
				<th>商品説明</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% menu_category.menus.each do |menu| %>
				<tr>
					<td>
						<%= menu.menu_name %>
					</td>
					<td>
						<%= menu.price %>
					</td>
					<td>
						<%= menu.takeout %>
					</td>
					<td>
						<%= menu.explanation %>
					</td>
					<td>
						<% if menu.favorited_by?(current_user) %>
						    <%= link_to customer_restaurant_menu_favorites_path(menu_id:menu.id), method: :delete do %>
							    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
							    <%= menu.favorites.count %> いいね
						    <% end %>
						<% else %>
						    <%= link_to customer_restaurant_menu_favorites_path(menu_id:menu.id), method: :post do %>
							    <i class="fa fa-heart-o" aria-hidden="true"></i>
							    <%= menu.favorites.count %> いいね
						    <% end %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>