<h2>ジャンル設定</h2>

<%= form_for(@genre, url: admin_restaurant_images_path, method: :post) do |f| %>
	<div class="form-group has-icon">
		<div class="user-edit-image">
		    <%= attachment_image_tag @restaurant_image, :restaurant_image, :fill, 60, 60, fallback: "no_image.jpg"%>
		</div>
	    <%= f.attachment_field :restaurant_image, placeholder: "レストラン投稿画像" %>
	</div>
	<%= f.text_area :restaurant_image_title, class:"form-control", placeholder:"タイトル" %><br>
	<%= f.text_area :restaurant_image_body, class:"form-control", rows:"3", placeholder:"写真説明" %><br>
	<%= f.submit "投稿" %><br>
<% end %>