<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-3 side-ber">
			<%= render 'admin_sideber' %>
		</div>
		<div class="col-xs-9">
			<h2><%= current_restaurant.restaurant_name %> 空席情報更新ページ</h2>
			<%= form_for @restaurant, url:admin_restaurant_path, method: :put do |f| %>
			<div class="col-xs-8">
				<div class="row">
					<div class="form-group col-xs-4">
						<%= f.select :restaurant_status,["非公表", "準備中", "空席余裕あり", "空席僅か", "満席" ], {}, class: 'form-control' %>
				    </div>
				    <div class="action col-xs-2">
				    	<%= f.submit "更新", class: "btn btn-md btn-primary form-control" %>
				    </div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>

