<%= form_for @restaurant, url:admin_restaurant_path, method: :put do |f| %>
	<div class="field">
		<%= f.label :非公表 %>
		<%= f.radio_button :restaurant_status, :非公表 %>
		<%= f.label :準備中 %>
		<%= f.radio_button :restaurant_status , :準備中 %>
		<%= f.label :空席余裕あり %>
		<%= f.radio_button :restaurant_status , :空席余裕あり %>
		<%= f.label :空席僅か %>
		<%= f.radio_button :restaurant_status , :空席僅か %>
		<%= f.label :満席 %>
		<%= f.radio_button :restaurant_status , :満席 %>
    </div>
    <div class="action">
    	<%= f.submit "更新", class: "btn btn-md btn-primary" %>
    </div>
<% end %>