<div class="col-xs-12">
	<h2> <%= current_restaurant.restaurant_name %> 管理者用トップページ </h2>
	<div class="row">
		<div class="col-xs-3 side-ber">
			<%= render 'admin_sideber' %>
		</div>

		<div class="col-xs-9">
			<div class="row">
				<h3>空席情報</h3>
					<span>
						<%= current_restaurant.restaurant_status %>
						<% if current_restaurant.restaurant_status != '非公表' %>
							(<%= l current_restaurant.updated_at %>更新)
						<% end %>
					</span>
					<%= link_to '空席情報を更新する', edit_admin_restaurant_path(current_restaurant), class:"btn btn-default" %>
			</div>
			<div class="row">
				<h3>店舗インフォメーション</h3>
				<% if @posts.present? %>
					<% @posts.each do |post| %>
						<table class="table">
							<tr>
							  	<th>投稿日</th>
							    <th>タイトル</th>
							</tr>
							<tr>
							  	<td><%= post.created_at.strftime('%Y/%m/%d') %></td>
							    <td><%= link_to post.post_title, admin_post_path(post) %></td>
							</tr>
						</table>
					<% end %>
				<% else %>
							<p>店舗インフォメーションはありません</p>
				<% end %>
			</div>
		</div>
	</div>
</div>
