<%= form_for post, url: admin_posts_path, local: true do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :post_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :post_body %>
  </div>

  <div class="field">
      <%= attachment_image_tag post, :post_image, :fill, 60, 60, fallback: "no_image.jpg"%>
    </div>
    <label class="action">
      <p>画像選択</p>
      <%= form.attachment_field :post_image, style: "display:none;", placeholder: "添付画像" %>
    </label>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
