<%= form_for post, url: admin_posts_path, local: true do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :件名 %>
    <%= form.text_field :post_title %>
  </div>

  <div class="field">
    <%= form.label :本文 %>
    <%= form.text_area :post_body %>
  </div>



  <div class="actions">
    <%= form.submit "投稿", class: "btn btn-md btn-primary" %>
  </div>
<% end %>
