<h2>カテゴリー追加・一覧画面</h2>


<div class="col-xs-12">
	<%= form_for @menu_category, url: admin_menu_categories_path do |f| %>
		<div class="field">
			<%= f.label :メニューカテゴリー名　%>
			<%= f.text_field :menu_category_name %>
			<%= f.radio_button :active_status , :有効 %>
			<%= f.label :有効　%>
			<%= f.radio_button :active_status , :無効 %>
			<%= f.label :無効　%>
        </div>
        <div class="action">
        	<%= f.submit "追加する", class: "btn btn-md btn-primary" %>
        </div>
    <% end %>

    <table class = "table">
		<thead>
			<tr class="active">
				<th>カテゴリー</th>
				<th>状態</th>
				<th></th>
			</tr>
		</thead>
		<% @menu_categories.each do |menu_category| %>
		<tr>
			<td><%= menu_category.menu_category_name %></td>
			<td><%= menu_category.active_status %></td>
			<td><%= link_to "編集する",edit_admin_menu_category_path(menu_category), class: "btn btn-primary" %></td>
		</tr>
		<% end %>
	</table>
</div>