<h2>フォローしているお店</h2>
	<!--users一覧 -->
	<table class="table">
		<thead>
			<tr>
				<th>image</th>
				<th>name</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @user.following_restaurant.where.not(id: current_user.id).each do |restaurant| %>
			<tr>
				<td><%= attachment_image_tag(user, :restaurant_top_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
				<td><%= restaurant.name %></td>
				<td><%= link_to "Show", restaurant, class: "user_#{restaurant.id}" %></td>
				<td><% if current_user.following?(restaurant) %>
				       <%= link_to 'unfollow', unfollow_path(user.id), method: :POST %>
				     <% else %>
				       <%= link_to 'follow', follow_path(user.id), method: :POST %>
				     <% end %>
    			</td>
			</tr>
			<% end %>
		</tbody>
	</table>