<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-3 side-ber">
    	<%= render 'customer/users/side_ber' %>
    </div>
    <div class="col-xs-9">
      <div class="center-block">
      	<h3><%= @restaurant_image.restaurant_image_title %></h3>
      	<%= attachment_image_tag(@restaurant_image, :restaurant_image, :fill, 400, 400, fallback: "no_image.jpg", size:'400x400') %>
    		<%= simple_format(@restaurant_image.restaurant_image_body) %>
    		<%= link_to '画像一覧へ', customer_user_post_images_path(@restaurant_image) %> |
    		<%= link_to '戻る', :back %>
      </div>
    </div>
  </div>
</div>
