<%= form_for menu, url: admin_menus_path, local: true do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :menu_category_id %>
    <%= form.text_field  :menu_category_id %>
  </div>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :menu_name %>
  </div>


  <div class="field">
    <%= form.label :explanation %>
    <%= form.text_field :explanation %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :takeout %>
    <%= form.text_field :takeout %>
  </div>

  <div class="field">
    <%= form.label :sales_status %>
    <%= form.text_field :sales_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
