<h1>Editing Menu</h1>

<%= form_for @menu, url: admin_menu_path(@menu), method: :put, local: true do |form| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :menu_category %>
    <%= form.collection_select :menu_category_id, MenuCategory.all, :id, :menu_category_name, {include_blank: "選択してください"} %>
  </div>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :menu_name %>
  </div>


  <div class="field">
    <%= form.label :explanation %>
    <%= form.text_field :explanation %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>


  <div class="field">
    <%= form.label :sales_status %>
    <%= form.label :販売中　%>
    <%= form.radio_button :sales_status , :販売中 %>
    <%= form.label :売切　%>
    <%= form.radio_button :sales_status , :売切 %>
  </div>

  <div class="field">
    <%= form.label :takeout %>
    <%= form.label :○　%>
    <%= form.radio_button :takeout , :○ %>
    <%= form.label :✖️ %>
    <%= form.radio_button :takeout , :✖️ %>
  </div>

  <div class="actions">
    <%= form.submit "編集", class: "btn btn-md btn-primary" %>
  </div>
<% end %>

<%= link_to 'Back', admin_menus_path %>
