<p id="notice"><%= notice %></p>

<h1>Menus</h1>

<table class = 'table'>
  <thead>
    <tr>
      <th>menu_category</th>
      <th>menu_name</th>
      <th>explanation</th>
      <th>price</th>
      <th>takeout</th>
      <th>sales_status</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.menu_category.menu_category_name %></td>
        <td><%= menu.menu_name %></td>
        <td><%= menu.explanation %></td>
        <td><%= menu.price %></td>
        <td><%= menu.takeout %></td>
        <td><%= menu.sales_status %></td>
        <td><%= link_to '編集', edit_admin_menu_path(menu) %></td>
        <td><%= link_to '削除', admin_menu_path(menu), method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu', new_admin_menu_path %>
