<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-3 side-ber">
      <%= render 'admin/restaurants/admin_sideber' %>
    </div>
    <div class="col-xs-9">
      <h2><%= @restaurant.restaurant_name %> メニュー</h2>
      <h4>カテゴリー 一覧</h4>
      <ul>
        <% @menu_categories.each do |menu_category| %>
          <li><a href="#{menu_category.id}"><%= menu_category.menu_category_name %></a></li>
        <% end %>
      </ul>

      <% @menu_categories.each do |menu_category| %>
      <div>
        <h4 style="text-align:center"><%= menu_category.menu_category_name %></h4>
          <table class="table" id="{menu_category.id}" frame="box">
            <thead>
              <tr>
                <th class="col-xs-2">メニュー名</th>
                <th>価格（税抜）</th>
                <th class="col-xs-3">説明</th>
                <th class="col-xs-1">テイクアウト</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% menu_category.menus.each do |menu| %>
                <tr>
                  <td>
                    <%= menu.menu_name %>
                  </td>
                  <td>
                    <%= menu.price %>円
                  </td>
                  <td>
                    <%= menu.explanation %>
                  </td>
                  <td>
                    <%= menu.takeout %>
                  </td>
                  <td>
                    <%= menu.sales_status %>
                  </td>
                  <td>
                    <%= menu.favorites.count %> いいね
                  </td>
                  <td><%= link_to '編集', edit_admin_menu_path(menu), class: "btn btn-md btn-primary" %></td>
                  <td><%= link_to '削除', admin_menu_path(menu), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-md btn-danger" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>

      <br>

      <%= link_to '新しいメニューを投稿する', new_admin_menu_path %>

      </div>
    </div>
  </div>
</div>
