<p id="notice"><%= notice %></p>

<p>
  <strong>:</strong>
  <%= @menu.menu_category_id %>
</p>

<p>
  <strong>:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>:</strong>
  <%= @menu.explanation %>
</p>

<p>
  <strong>:</strong>
  <%= @menu.price %>
</p>

<p>
  <strong>:</strong>
  <%= @menu.takeout %>
</p>

<p>
  <strong>:</strong>
  <%= @menu.sales_status %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
